:root {
  --color-text: #fff;
  --color-heading: #444;
  --section-gap: 1rem;
  --color-border: #ccc;
  --color-background: #fff;
}

body {
  background-color: #181818;
}
header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  h1 {
    margin: 10px;
  }
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
}

main {
  padding: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
